<button data-modal-trigger="lol">abrir</button>
<div data-modal="lol">
    <div class="bg"></div>
    <div class="content">isto é a modal</div>
</div>


<p>block</p>
{{#block}}isto é um bloco{{/block}}

<p>event parsed</p>
{{{event 'eheheh'}}}

<p>event</p>
{{event 'eheheh'}}