<main>
    <h1>{{title}}</h1>
    <h2>{{timestamp}}</h2>
    {{>top-bar}}
    <button onClick="WebsiteBuilder.dark()">toggle dark mode</button>
    <div id="hey">hey hey</div>
    {{>main}}
    {{>highlights}}
    {{>latest}}
    {{!-- {{>widget-cinema}} --}}
    <footer id="cenas">
        {{>modal}}
    </footer>
</main>