.mobile,
.tablet,
.desktop {
    display: none;
    @media screen and (max-width: 779px) {
        &.mobile {
            display: block;
        }
    }
    @media screen and (min-width: 780px) and (max-width: 1200px) {
        &.tablet {
            display: block;
        }
    }
    @media screen and (min-width: 780px) and (max-width: 1200px) {
        &.desktop {
            display: block;
        }
    }
}