header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 10;
    background: var(--top-bar-bg);
    nav {
        a {
            height: 60px;
            line-height: 60px;
            padding: 0 .25rem;
            margin: 0 .25rem;
            text-transform: uppercase;
        }
    }
}