<header>
    <div class="grid">
        <nav>
            {{#each menus.principal}}
                <a href="{{../config.base}}{{path}}/index.html">{{title}}</a>
            {{/each}}
        </nav>
    </div>
</header>