<div data-widget="cinema">
    <p>cinema widget</p>
    <select data-dropdown="cinema-tab">
        <option value="premiers">Premiers</option>
        <option value="movies">All Movies</option>
    </select>
    {{>widget-cinema-premiers}}
    {{>widget-cinema-movies}}
</div>