<div data-widget="classificados">
    <p>windget do classificados</p>
    <nav>
        <button data-view="carros">Carros</button>
        <button data-view="casas">Casas</button>
        <button data-view="empregos">Empregos</button>
    </nav>
    {{>widget-classificados-carros}}
    {{>widget-classificados-casas}}
    {{>widget-classificados-empregos}}
</div>