{{!-- DO NOT MODIFY --}}
<!DOCTYPE html>
<html>
    <head>
        {{>head}}
    </head>
    <body>
        {{!-- {{#if template }}
            {{#if template == 'post'}}
                {{>content}}
            {{else}}
                {{>post}}
            {{/if}}
        {{else}} --}}
            {{>content}}
       {{!--  {{/if}} --}}
    </body>
</html>